body {
  background-image: url(bg-picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}
h1 {
  align-self: center;
  color: #f7dbf0;
}
input {
  padding: 5px;
}
footer,
footer a {
  color: #f7dbf0;
}

.container {
  background-color: rgba(94, 97, 93, 0.9);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
  height: 670px;
  border-radius: 40px;
  color: white;
}
.showTotalAmountToPay {
  display: flex;
}
.billSplit,
.totalTip,
.totalAmount {
  background-color: rgba(147, 198, 142, 0.9);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
#addTip {
  background: #78dec7;
  border-radius: 15px;
  border: none;
  padding: 5px;
}
#calculateBtn {
  background-color: #f7dbf0;
  border-radius: 15px;
  border: none;
  padding: 10px;
  margin-top: 10px;
}
#tip {
  display: none;
}
@media all and (max-width:800px) {
  .container {
    width: 450px;
  }
}
